<a name="hall-of-fame"><h1>Hall of Fame</h1></a>
<p>
  The OpenPGP interoperability test suite found the following bugs:
</p>
<h2>Sequoia</h2>
<ul>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/347">
      sq: Impossible to generate key with multiple userids
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/348">
      attempt to subtract with overflow if signature is larger than expected
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/350">
      Blowfish encryption is broken
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/372">
      Marker packet not ignored in certificate parser
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/-/issues/539">
      Expiration of primary key binding signatures is not honored
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/-/issues/564">
      Sequoia does not honor certificate expiration on primary userid when iterating over subkeys
  </a></li>
</ul>

<h2>DKGPG</h2>
<ul>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57097">
      Lowercase hex digits are not recognized as such
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57098">
      Keyrings must be armored
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57099">
      dkg-encrypt adds spurious newline
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57108">
      Decryption fails if the size of the session key is not 256 bits
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57111">
      Generating a key with multiple userids silently ignores all but first userid
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57131">
      dkg-encrypt prefers OCB over the recipients preference for EAX
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57134">
      dkg-sign adds spurious newline to armored output
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57135">
      dkg-verify fails to verify signatures with leading zeros
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58776">
      Verification fails with "key was not intended for signing" though it is
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58887">
      dkgpg excludes trailing whitespace from hashing when verifying text signatures
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58895">
      Unknown notations with the "critical" bit set SHOULD invalidate the signature
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58906">
      dkgpg fails to enforce packet boundaries
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58937">
      dkgpg fails to decrypt message with unknown packet versions
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58939">
      dkgpg fails to verify detached signatures with unknown packet versions
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58981">
      dkgpg should ignore marker packets when verifying detached signatures
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?58983">
      dkgpg throws std::bad_alloc on duplicated subkeys
  </a></li>
</ul>

<h2>GopenPGP</h2>
<ul>
  <li><a href="https://github.com/ProtonMail/gopenpgp/issues/68">
      Expiration of primary key binding signatures is not honored
  </a></li>
  <li><a href="https://github.com/ProtonMail/gopenpgp/issues/69">
      GopenPGP fails to decrypt message with unknown packet versions
  </a></li>
  <li><a href="https://github.com/ProtonMail/gopenpgp/issues/70">
      GopenPGP fails to verify detached signatures with unknown packet versions
  </a></li>
  <li><a href="https://github.com/ProtonMail/gopenpgp/issues/72">
      GopenPGP should ignore unbound or unknown certificate components
  </a></li>
  <li><a href="https://github.com/ProtonMail/gopenpgp/issues/80">
      GopenPGP does not honor certificate expiration
  </a></li>
</ul>

<h2>OpenPGP.js</h2>
<ul>
  <li><a href="https://github.com/openpgpjs/openpgpjs/issues/1136">
      Unknown notations with the "critical" bit set SHOULD invalidate the signature
  </a></li>
  <li><a href="https://github.com/openpgpjs/openpgpjs/issues/1137">
      Signatures without signature creation time subpackets are invalid
  </a></li>
  <li><a href="https://github.com/openpgpjs/openpgpjs/issues/1138">
      Expiration of primary key binding signatures is not honored
  </a></li>
  <li><a href="https://github.com/openpgpjs/openpgpjs/issues/1145">
      OpenPGPjs should ignore marker packets when verifying detached signatures
  </a></li>
  <li><a href="https://github.com/openpgpjs/openpgpjs/issues/1159">
      OpenPGPjs does not honor certificate expiration on direct key signatures
  </a></li>
</ul>

<h2>RNP</h2>
<ul>
  <li><a href="https://github.com/rnpgp/rnp/issues/929">
      Generating a key with multiple userids silently ignores all but last userid
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1211">
      Unbounded recursion when decrypting messages leading to unbounded allocation
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1234">
      Unknown notations with the "critical" bit set SHOULD invalidate the signature
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1247">
      Expiration of primary key binding signatures is not honored
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1255">
      RNP fails to decrypt message with unknown packet versions
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1257">
      RNP fails to verify detached signatures with unknown packet versions
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1314">
      rnp --encrypt ignores --output
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1315">
      RNP does not honor certificate expiration on direct key signatures
  </a></li>
  <li><a href="https://github.com/rnpgp/rnp/issues/1316">
      RNP takes certificate expiration information from non-primary userid bindings
  </a></li>
</ul>

<h2>PGPy</h2>
<ul>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/331">
      Primary key binding signature is not checked
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/332">
      Critical, unknown subpackets and notations SHOULD invalidate signatures
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/333">
      PGPy seems to ignore key flags
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/334">
      PGPy fails to decrypt message with unknown packet versions
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/335">
      PGPy fails to verify detached signatures with unknown packet versions
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/337">
      PGPy should ignore marker packets when verifying detached signatures
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/338">
      PGPy should ignore marker packets when parsing certificates
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/339">
      PGPy should ignore unbound certificate components
  </a></li>
  <li><a href="https://github.com/SecurityInnovation/PGPy/issues/348">
      PGPy does not honor certificate expiration
  </a></li>
</ul>

<h2>GPGME</h2>
<ul>
  <li><a href="https://dev.gnupg.org/T4725">
      Dubious filename in literal data packet when encrypting with GPGME/GnuPGv1.4.23
  </a></li>
  <li>
    GPGME gets FDs confused in high concurrency settings, deadlocks on select
  </li>
</ul>

<h2>GnuPG</h2>
<ul>
  <li><a href="https://dev.gnupg.org/T4727">
      GnuPG creates keys that it cannot use, likely related to AEAD
  </a></li>
  <li>
    GnuPG 1.4.23 ignores key flags
  </li>
  <li>
    All versions of GnuPG fail to enforce packet boundaries
  </li>
  <li>
    Expiration of primary key binding signatures is not honored
  </li>
  <li>
    All versions of GnuPG fail to decrypt message with unknown packet versions
  </li>
  <li>
    All versions of GnuPG fail to verify detached signatures with unknown packet versions
  </li>
  <li>
    All versions of GnuPG fail to ignore signatures and keys with unknown packet versions in certificates
  </li>
</ul>
